
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cairo', sans-serif;
}

.navbar {
    background-color: black;
}
nav.navbar {
    z-index: 15px;
}

nav.navbar .navbar-brand img {
    width: 80%;
}

nav.navbar .navbar-nav .nav-item a.nav-link {
    font-size: 16px;
    color: white;
    line-height: 40px;
    padding: 0 16px;
    transition: 0.5s all ease;
}

nav.navbar .navbar-nav .nav-item a.nav-link:hover,
nav.navbar .navbar-nav .nav-item a.nav-link.active {
    background-color: white;
    color: black;
}

nav.navbar.noTranparrent {
    background-color: #fff;
    border: 2px solid #eee;
} 

nav.navbar.noTranparrent .nav-item a.nav-link {
    color: white;
}

nav.navbar.noTranparrent .navbar-nav .nav-item a.nav-link:hover,
nav.navbar.noTranparrent .navbar-nav .nav-item a.nav-link.active {
    background-color: white;
    color: black;
}

nav.navbar.noTranparrent button.navbar-toggler {
    color: black;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

header .code-icons {
    color: white;
    padding-top: 15%;
    font-size: 60px;
}

header .code-icons .list-inline-item {
    margin-right: 40px;
}

header .overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}

header .overlay .carousel .carousel-item {
    min-height: 100vh;
    position: relative;
    margin-top: -30%;
}


header .overlay .carousel .carousel-item .carousel-content {
    position: absolute;
    top: 70%;
    right: 15%;
    left: 15%;
    text-align: center;
    color: white;
    z-index: 100;
}

header .overlay .carousel-inner {
    min-height: 105vh;
}

header .overlay .carousel .carousel-item .carousel-content h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    margin-bottom: 40px;
}

header .overlay .carousel .carousel-item .carousel-content a {
    padding: 13px 47px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
}


/* قسم خدمات الشركة */

section.services{
    margin-top: 250px;
    margin-bottom: 50px;
}

section.services .services-title h3 {
    font-size: 40px;
    margin-bottom: 50px;
    color: #070c0c;
    margin-top: -230px;
    margin-right: 40%;
}

section.services .card {
    height: 330px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;
    border: none;
}

section.services .card .card-img {
    margin-top: 10px;
    margin-bottom: 45px;
}

section.services .card .card-block h4 {
    font-size: 24px;
    color: #070c0c;
    margin-bottom: 25px;
}

section.services .card .card-block p {
    font-size: 15px;
    line-height: 21px;
    color: gray;
    opacity: 0;
    transition: all 1.5s ease;
}

section.services .card:hover .card-block p {
    opacity: 1;
}



/* قسم صور الاعمال */
section.gallery .gallery-title h3 {
    font-size: 40px;
    color: #070c0c;
}

section.gallery .gallery-work a.gallery-link{
    position: relative;
    display: block;
}

section.gallery .gallery-work .gallery-link img {
    width: 100%;
    margin: 5px 5px;
}

section.gallery .gallery-work .gallery-link .gallery-hover {
    position: absolute;
    width: 88%;
    height: 90%;
    top: 5%;
    left: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
}

section.gallery .gallery-work .gallery-link .gallery-hover i {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 36px;
    font-weight: bold;
}

section.gallery .gallery-work .gallery-link:hover .gallery-hover {
    opacity: 1;
}

section.gallery .gallery-work .gallery-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    padding: 5% 10%;
    opacity: 0;
    margin-top: -300vh;
    transition: all 1s ease;
}

section.gallery .gallery-work .gallery-overlay:target {
    opacity: 1;
    margin-top: 0;
}

section.gallery .gallery-work .gallery-overlay .overlay-img img {
    width: 100%;
    margin-top: 40px;
}

section.gallery .gallery-work .overlay-text {
    margin-top: 50px;
}

section.gallery .gallery-work .overlay-text h4 {
    font-size: 36px;
    line-height: 52px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

section.gallery .gallery-work .overlay-text .list-inline-item {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    border-radius: 50%;
}

section.gallery .gallery-work .overlay-text ul {
    border-bottom: 2px solid #efefef;
}


section.gallery .gallery-work .overlay-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
    color: antiquewhite;
}

section.gallery .gallery-work .overlay-text a.btn {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 33px;
    background-color: white;
    color: black;
}

section.gallery .gallery-work .overlay-text a.close {
    color: white;
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}



/* قسم الاحصائيات */
section.statistics {

    padding: 140px 0 100px;
    background-color: black;
    background-position: center;
    background-size: cover;

}

section.statistics .overlay .count {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 50px auto 30px;
}

section.statistics .overlay i {
    margin-bottom: 15px;
}

section.statistics .overlay img:nth-child(1){
    margin-bottom: 7px;
}


section.statistics .overlay span.counter {
    font-size: 18px;
    line-height: 22px;
    color: #cec1c1;
}



/* قسم التواصل والخريطة */
section.contact {
    padding: 100px 0 60px;
}

section.contact .map iframe {
    height: 100px;
    width: 90%;
}

section.contact .contact-addresses h4 {
    font-size: 24px;
    font-weight: bold;
    color: #070c0c;
    margin-bottom: 40px;
}

section.contact .contact-addresses i {
    color: red;
}

section.contact .contact-addresses ul {
    list-style: none;
    padding: 0;
}

section.contact .contact-addresses ul li {
    font-size: 18px;
    line-height: 25px;
    color: #292121;
    margin-bottom: 15px;
}

section.contact .contact-addresses li address {
    display: inline;
}

section.contact .contact-text {
    margin: 50px auto 20px;
}

section.contact .contact-text h3 {
    font-size: 24px;
    color: #070c0c;
    font-weight: bold;
}

section.contact .contact-form {
    width: 60%;
    margin: auto;
}

section.contact .contact-form input,
section.contact .contact-form textarea {
    background-color: #f7f7f7;
    border: 2px solid #ececec;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 25px;
    border-radius: 3px;
    text-align: right;
}

section.contact .contact-form button {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 3px;
    width: auto;
    margin-right: 12px;
    border: 0;
}


/* الذيل */
footer.footer .top-footer {
    padding: 75px 0;
    background-color: #070c0c;
}

footer.footer .top-footer h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    color: whitesmoke;
    margin-bottom: 35px;
    position: relative;
}

footer.footer .top-footer h5::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 3px;
    background-color: #5c5c5c;
}

footer.footer .top-footer .about-us p {
    font-size: 15px;
    line-height: 22px;
    color: #919191;
    margin-bottom: 60px;
}

footer.footer .top-footer .about-us ul a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #333333;
    color: #acacac;
    display: block;
    border-radius: 2px;
    text-align: center;
    transition: all 0.5s ease;
}

footer.footer .top-footer .about-us ul a:hover {
    background-color: white;
    color: #070c0c;
}

footer.footer .top-footer ul.contact-list {
    list-style: none;
    padding: 0;
}

footer.footer .top-footer ul.contact-list li {
    font-size: 18px;
    color: #676767;
    margin-bottom: 35px;
}

footer.footer .top-footer ul.contact-list li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #282828;
    color: #acacac;
    border-radius: 2px;
    margin-left: 15px;
}

footer.footer .copyright {
    background-color: white;
    padding: 30px 0;
}

footer.footer .copyright p {
    font-size: 15px;
    color: #070c0c;
    text-align: center;
}



@media (max-width: 992px) {
    section.services .card {
        padding: 20px;
        height: 400px;
    }
        header .overlay .carousel-inner{
            min-height: 110vh;
        }
    

    section.services .card .card-img {
        margin-bottom: 35px;
    }

    section.services .card .card-block h4 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    section.services .card .card-block p {
        opacity: 1;
    }

    section.contacts .map iframe {
        width: 100%;
    }

    section.contacts .contact-form {
        width: 80%;
    }
}

@media (max-width: 768px) {
    section.gallery .gallery-work .gallery-overlay {
        margin-top: -170vh;
    }

    section.gallery .gallery-work .gallery-overlay .overlay-img {
        display: none;
    }

    section.contacts .map {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    header .overlay .carousel button {
        display: none;
    }
}

@media (max-width: 992px) {
    header .code-icons {
        padding-top: 30%;
    }
}

@media (max-width: 576px) {
    header .code-icons{
        padding-top: 25%;
    }
}